<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="'/index?name=' + ${fox.getName()}">Information</a></li>
        <li><a th:href="'/nutritionStore?name=' + ${fox.getName()}">Nutrition Store</a></li>
        <li><a th:href="'/trickCenter?name=' + ${fox.getName()}">Trick Center</a></li>
      </ul>
    </header>
    <div class="image">
      <img src="greenfox.png">
    </div>
    <p th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.food.getFoodName()} + ' and ' + ${fox.drink.getDrinkName()} + '. He knows ' + ${fox.numberOfTricks()} + ' tricks.'"></p>
    <h1>Known Tricks:</h1>
    <ul th:if="${fox.getTrickList().isEmpty()} == true">
      <li>You know no tricks, yet. Go teach him some tricks!</li>
    </ul>
    <ul th:each="trick : ${fox.getTrickList()}">
      <li th:text="${trick}"></li>
    </ul>
  </body>
</html>

