<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='UTF-8'/>
    <title>Login Page</title>
</head>
<body>
<div>
    <header>
        <h1>Welcome to Programmer Fox Club!</h1>
    </header>
    <p>Please provide a name, so you an associate it to your pet!</p>
    <form action="login" method="post">
        <div>
            <label for='name'>Name of your fox:</label>
            <input id='name' name='name' type='text' required/>
            <button type="submit">GO</button>
        </div>
    </form>
</div>
</body>
</html>

<!--th:action="@{/saveFox}"-->
<!--th:field="@{name}"-->
<!--
th:action="@{/index}" th:object="${fox}"-->
