<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='UTF-8'/>
    <title>Nutrition Store</title>
</head>
<body>
<div>
    <header>
        <ul>
            <li><a href="index">Information</a></li>
            <li><a href="nutritionStore">Nutrition Store</a></li>
            <li><a href="index">Trick Center</a></li>
        </ul>
    </header>
    <form action='index' method='get'>
        <div>
            <label>Food</label>
            <select>
                <option value="Pizza">Pizza</option>
                <option value="Burger">Burger</option>
                <option value="Gyros">Gyros</option>
                <option value="Pasta">Pasta</option>
                <option value="Salad">Salad</option>
            </select>
            <label>Drink</label>
            <select>
                <option value="Lemonade">Lemonade</option>
                <option value="Coke">Coke</option>
                <option value="Beer">Beer</option>
                <option value="Water">Water</option>
                <option value="Coffee">Coffee</option>
            </select>
            <button>Change</button>
        </div>
    </form>
</div>
</body>
</html>

