<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='UTF-8'/>
    <title>Nutrition Store</title>
</head>
<body>
<div>
    <header>
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="'/index?name=' + ${fox.getName()}">Information</a></li>
            <li><a th:href="'/nutritionStore?name=' + ${fox.getName()}">Nutrition Store</a></li>
            <li><a th:href="'/trickCenter?name=' + ${fox.getName()}">Trick Center</a></li>
        </ul>
    </header>
    <form th:action="@{/nutritionStore(name=${name})}" method="post">
        <label>Food</label>
        <select name="food" th:type="text" modelattribute="food">
            <option th:each="food : ${food}"
                    th:value="${food}"
                    th:text="${food}"></option>
<!--                    th:selected="${food == currentfood}"/>-->
        </select>
        <label>Drink</label>
        <select name="drink" th:type="text" modelattribute="drink">
            <option th:each="drink : ${drink}"
                    th:value="${drink}"
                    th:text="${drink}"></option>
        </select>
            <button type="submit">Change</button>
        </form>
    </form>
</div>
</body>
</html>

