<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='UTF-8'/>
    <title>Trick Center</title>
</head>
<body>
<div>
    <header>
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="'/index?name=' + ${fox.getName()}">Information</a></li>
            <li><a th:href="'/nutritionStore?name=' + ${fox.getName()}">Nutrition Store</a></li>
            <li><a th:href="'/trickCenter?name=' + ${fox.getName()}">Trick Center</a></li>
        </ul>
    </header>
    <form th:action="'/trickCenter?name=' + ${fox.getName()}" method="post">
        <div>
            <label>Trick</label>
            <select name="trick">
                <option value="HTML">HTML</option>
                <option value="SQL">SQL</option>
                <option value="C#">C#</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Android">Android</option>
            </select>
            <button type="submit">Change</button>
        </div>
    </form>
</div>
</body>
</html>

