<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update task</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Update the task</h1>
<form method="post" th:object="${todo}">
<!--<form th:action="@{/editTask}" th:method="post" th:object="${todo}">-->
    <label><strong>Task</strong></label>
    <input type="text" th:field="*{title}"><br>
    <input th:checked="${todo.isUrgent()}" type="checkbox" name="urgent" value="urgent">Urgent<br>
    <input th:checked="${todo.isDone()}" type="checkbox" name="done" value="done" >Done<br>
    <button type="submit">Update this task</button>
    <a href="/todo/">Cancel</a>
</form>
</body>
</html>